img{
    max-width: 70px;
    min-width: 150px;
}

.listar-reservas{
    display: flex;
    margin: 30px
}

.contenido-reserva
{
    padding: 20px;
    width: 100%;
}

p{
    font-weight: bold;
}

span{
    font-weight: 500;
    text-decoration: underline;
}

.separar{
    display: flex;
}

.separar p {
    margin-right: 15px;
}

button{
    padding-left: 0px !important;
}