
<h3>{{oficina.nombre}}</h3>

<h2>Selecciona los servicios de tu oficina</h2>
<div class="opciones" *ngFor="let serv of servicios">
    <input type="checkbox" name="dataServicios" (change)="$event.target.checked ? agregarServ(serv) : quitarServ(serv)">
    <label for="dataServicios">{{serv.nombreServicio}}</label>

    
</div>

<h2>Selecciona las reglas de tu oficina</h2>
<div class="opciones" *ngFor="let regla of reglas">
    <input  type="checkbox" name="dataReglas" (change)="$event.target.checked ? agregarReg(regla) : quitarReg(regla)">
    <label for="dataReglas">{{regla.nombreRegla}}</label>
</div>

<div class="subir-imagen">
<h2>Sube las imagenes de tu oficina</h2>
<angular-file-uploader class="upload"
    [config]="afuConfig"
    (ApiResponse)="imagenUpload($event)">
</angular-file-uploader>
</div>


<div class="contenedor-imagenes" >
    <img class="imagenes"  *ngFor="let imagen of dataImagenes" src="{{url + 'oficina/image/' + imagen}}" alt="">
</div>

<button (click)="guardar()" class="btn">Guardar</button>