

<app-login></app-login>

<div *ngIf="identity">
  <mat-toolbar class="header-admin bg-primary">
    <h1>OfficesBNB</h1>
      <div *ngIf="identity.role == 3">
        <p>Usuario: Admin</p> 
      </div>

      <div *ngIf="identity.role !== 3">
        <p>Usuario: {{identity.nombre}}</p> 
      </div>
     
    <a routerLink='/logout/1'>Cerrar Sesion</a>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
      <mat-nav-list>
        <a  mat-list-item [routerLink]="['/home']"> Inicio</a>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
             Oficinas
            </mat-panel-title>
          </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="['/create-office']" > Crear Oficina</a>
            <a mat-list-item [routerLink]="['/oficinas-usuario']" > Mis Oficina</a>
            <a mat-list-item *ngIf="identity.role == 3" [routerLink]="['/oficinas-solicides']" > Solicitudes de oficinas</a>
          </mat-expansion-panel>
      </mat-accordion>
      
        <a mat-list-item [routerLink]="['/reservas']" >Mis reservas</a>
        <a mat-list-item [routerLink]="['/oficinas-reservadas']" >Reservas</a>
        <a *ngIf="identity.role == 3" mat-list-item [routerLink]="['/reglas']"> Reglas</a>
        <a *ngIf="identity.role == 3" mat-list-item [routerLink]="['/servicios']" > Servicios</a>
        <a *ngIf="identity.role == 3" mat-list-item [routerLink]="['/cupones']"> Cupones</a>
        <a mat-list-item > Configuracion</a>


     </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >
      
      <p class="slider-menu"><span  mat-button (click)="sidenav.toggle()" class="material-icons">menu</span></p>
      <div class="contenedor">
        <router-outlet></router-outlet>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer"></mat-toolbar>
</div>


